<ion-header>
  <ion-toolbar>
    <ion-title>Comment jouer</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text">
    <br>
    Le jeu <b>Question pour un balcon</b> est inspirée du célébre jeu <b>Question pour un champion</b> qui passe sur France 3. <br>
    Ce jeu a pour but de répondre à des questions de culture générale. <br>
    Un animateur pose des questions à son balcon, et ses voisins essaient de répondre à la question. <br><br>
    L'application permet de fournir des questions à l'animateur, de comptabiliser les points des participants et de détecter dans quel ordre les participants ont répondus. <br><br>
    Vous serez localisé par l'application, puis vous aurez le choix de créer une partie ou d'en rejoindre une. <br>
    Si vous créez une partie, vous serez donc animateur et vous aurez une liste de question ainsi que la ou les personnes ayant buzzer pour répondre aux question.<br>
    Si vous rejoignez une partie, vous serez donc participant. Un buzzer sera disponible sur votre périphérique et il vous suffira de cliquer pour informer l'animateur que vous avez la réponse.

  </div>
</ion-content>
