<ion-header [translucent]="true">
</ion-header>

<ion-content padding class="background-img">
  <ion-header collapse="condense">
  </ion-header>
  <ion-card class="card">
    <h3 class="center black">Question</h3>
    
    <h1 class="center black">{{question.question}}</h1><h4><p class="center green">{{ question.reponse }}</p></h4>

    <table mat-table [dataSource]="dataSource" class="table"  matSort  class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>
      <ng-container matColumnDef="point">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Point </th>
        <td mat-cell *matCellDef="let element"> {{element.points}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <ion-button (click)="reload()"class="ButtonQNext">Question suivante</ion-button>
    <ion-button [routerLink]="['/tabs/end-screen']" class="ButtonEndGame">Terminer le jeu</ion-button>
  </ion-card>
</ion-content>