ion-content ion-toolbar {
    --background: translucent;
}
.black{
    color: black;
}

.green{
    color: white;
    //font-weight: bold;
}

.center{
    text-align: center;
}

.ButtonQNext{
    width: 100%;
    margin-top: 20px;
    --background: grey;
}

.ButtonEndGame{
    width: 100%;
    --background: red;
}

table {
    margin-top: 20px;
    width: 100%;
}

ion-card{
    height: 95%;
}