<ion-header [translucent]="true">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
</ion-header>

<ion-content padding class="background-img">
  <ion-card class="card">
    <div id="mapId"></div>
    <div class="label-center">
      <br>
      <ion-label>Vous avez été localisé ici : </ion-label>
      <br>
      <ion-label>{{ adresseComplete }}</ion-label>
      <br>
    </div>
      <ion-button [routerLink]="['/tabs/tab1']">Nope</ion-button>
      <ion-button class="button-right" (click)="changeToSelectRole()" >C'est good</ion-button>
  </ion-card>
</ion-content>