<ion-header [translucent]="true">
</ion-header>
<div (konami)="easterEgg()"></div>

<ion-content padding class="background-img">
  <ion-card class="card">
    <form [formGroup]="userForm">
      <ion-item color="none">
        <ion-label position="floating" clearInput value="clear me">Nom d'utilisateur</ion-label>
        <ion-input formControlName="username"></ion-input>
      </ion-item>
      <ion-item color="none">
        <ion-label position="floating">Ville</ion-label>
        <ion-input formControlName="town"></ion-input>
      </ion-item>
      <ion-item color="none">
        <ion-label position="floating">Adresse</ion-label>
        <ion-input formControlName="adress"></ion-input>
      </ion-item>
      <br />
      <ion-col text-center>
        <ion-button class="validButton" (click)="getall()" [disabled]="isComplete()">A toi de jouer</ion-button>
      </ion-col>
      <ion-row>
        <ion-chip class="about" (click)="presentAlert()">
          <ion-label>
            Le principe du jeu
          </ion-label>
        </ion-chip>
      </ion-row>
    </form>
  </ion-card>
</ion-content>