ion-content ion-toolbar {
  --background: translucent;
}

.validButton{
  display: block;
    margin-left:  5%;
    margin-right: 5%;
}

.about{
  color: white;
  background-color: rgba(0.5, 0.5, 0.5, 0.5);
  margin-left:  50%;
}
