ion-content ion-toolbar {
  --background: translucent;
}

ion-label {
  margin-left: 5%;
  margin-right: 5%;
  color: black;
}

.about {
  color: black;
  margin-left: 60%;
  margin-right: 1%;
}

.label-center {
  text-align: center;
  align-items: center;
  font-size: 20px;
}

ion-button {
  --background: grey;
}

.button-right {
  right: 4%;
  position: absolute;
}

#mapId-players {
  height: 300px;
}