<ion-header [translucent]="true">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
</ion-header>

<ion-content padding class="background-img">
  <ion-card class="card">
    <div id="mapId-players"></div>
    <div class="label-center">
      <br>
      <ion-label>Voulez-vous rejoindre une partie? </ion-label>
      <br>
      <br>
    </div>
      <ion-button [routerLink]="['/tabs/ig-animateur']">Animateur</ion-button>
      <ion-button [routerLink]="['/tabs/ig-player']" class="button-right">Joueur</ion-button>
  </ion-card>
</ion-content>