ion-content ion-toolbar {
    --background: translucent;
}
.black{
    color: black;
}

.center{
    text-align: center;
}

.center-button {
    left: 20%;
}

.txt-bas{
    width: 75%;
    max-width: 400px;
    position: fixed;
    bottom: 10px;
}

.left{
    float: left;
    text-align: left;
    color: black;
    margin-left: 5px;
}

.right{
    text-align: right;
    margin-right: 15px;
}

#button-transparent {
    clear: both;
    background: transparent;
    position: relative;
    width: 60%;
}

ion-button {
    --background: grey;
}

ion-card{
    height: 97%;
}

.ButtonAcceuil{
    width: 95%;
    --background: #3880ff;
    margin-bottom: 15px;
}