<ion-header [translucent]="true">
</ion-header>

<ion-content padding class="background-img">
  <ion-header collapse="condense">
  </ion-header>
  <ion-card class="card">
    <h3 class="center black">Question 1</h3>
    <h1 class="center black">Ecoutez votre animateur !</h1>
    <button class="center-button" id="button-transparent"><img src="assets/img/Buzz.png"></button>
    <div class="txt-bas">
      <div class="center black">
        <h3>
          <div class="left">
            <div class="left score-card">Score : </div>
          </div>
          <div class="right">
            <ion-button [routerLink]="['/tabs/lst-participant']">Participant</ion-button>
          </div>
        </h3>
      </div>
      <ion-button [routerLink]="['/tabs/tab1']" class="ButtonAcceuil">Retour à l'acceuil</ion-button>
    </div>
    
  </ion-card>
</ion-content>