<ion-header [translucent]="true">
</ion-header>

<ion-content padding class="background-img">
  <ion-card class="card">


    <h1 class="center black">Liste des participants</h1>
    <table mat-table [dataSource]="dataSource" class="table"  matSort  class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>
      <ng-container matColumnDef="point">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Point </th>
        <td mat-cell *matCellDef="let element"> {{element.points}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <ion-button [routerLink]="['/tabs/ig-player']" class="returnButton">Retour</ion-button>
  </ion-card>
</ion-content>