ion-content ion-toolbar {
    --background: translucent;
}

.center{
    text-align: center;
}
.podium{
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
}
table {
    width: 100%;
}

.black{
    color: black;
}

.ButtonAcceuil{
    width: 100%;
    margin-top: 20px;
    --background: grey;
}