<ion-header [translucent]="true">
</ion-header>

<ion-content padding class="background-img">
  <ion-card class="card">
    <h1 class="black">Partie terminée</h1>
    <div class="gris center podium"><img src="assets/img/Podium.png"></div>
    
    <p class="black">Nombre de question : 12</p>

    <table mat-table [dataSource]="dataSource" class="table"  matSort  class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>
      <ng-container matColumnDef="point">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Point </th>
        <td mat-cell *matCellDef="let element"> {{element.points}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <ion-button [routerLink]="['/tabs/tab1']" class="ButtonAcceuil">Retour à l'acceuil</ion-button>
  </ion-card>
</ion-content>
